/* your theme's styles */
body {
	padding:0;
	margin:0;
}

/*This is formatting for the first line in the popup */
p.placename {
	font-family: "CHEAPPINE-SANS", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	line-height:  26px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #C1D3D0;
}

/*This is formatting for the second line in the popup */
p.original-category {
	font-family: "Cervo-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
}

p.description {
	font-family: "Cervo-Regular", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

/*This is formatting for all other text in the popup */
p {
	font-family: "Cervo-Regular", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.leaflet-popup-content {
  background: #42565B;
  color:#fff;
  font-size:20px;
  }
  
.leaflet-popup-content-wrapper {
  background: #42565B;
  padding:1px;
  text-align:left;
  pointer-events:all;
  line-height:24px;
  } 

.leaflet-popup-tip {
  width:0;
  height:0;
  margin:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #42565B;
  box-shadow:none;
  } 
  
/*this controls the appearance of the expanded layer switcher */  
.leaflet-control-layers-expanded {
  background:#42565B;
  padding:6px 10px 6px 6px;
  color:#404040;
  color:rgba(0,0,0,0.75);
  }  
  
  /*this determines the color of the label text in the layer switcher box */
  .leaflet-control-layers label {
  display: block;
  color: #fff
  }
  
a:link{
  color:#CCE2EC;
  font-family: "Cervo-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

a:visited{
  color:#CCE2EC;
  font-family: "Cervo-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

#map {
	position:absolute;
	width:100%;
	height:100%;
}
/* This will be used to style the legend once we have the custom icons*/
/*table {
    border-collapse: collapse;
    border-spacing: 0;
}
	
#legend{
	background-color: #ffffff;
	opacity:0.6;
	border-top-right-radius: 10px;
	border: none;
	width: 190px;
	text-align: left;
	padding: 3px;
    position: fixed;
	z-index : 1;
    left: 0;
	bottom: 0;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;	
	font-weight: bold;
	font-size: 11px;
	color: #363635;
	text-decoration: none;
	overflow: hidden;
}	
*/
